<h1>Achieveに新しく問い合わせが投稿されました！</h1>

<h4>name: <%= @contact.name %></h4>
<p>email: <%= @contact.email %></p>
<p>content: <%= @contact.content %></p>

<p>
  <%= link_to '投稿されたブログはこちら', contacts_url %>
</p>
