<h1>問い合わせありがとうございます！</h1>

<h4>以下の内容で受け付けております。</h4>

<p>名前: <%= @contact.name %></p>
<p>メール: <%= @contact.email %></p>
<p>内容: <%= @contact.content %></p>

<p>
  <%= link_to 'トップページへ', root_url %>
</p>
